.nome {
    color: rgba(0, 0, 0, 0.747);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.secao-titulo {

    color: rgba(3, 0, 10, 0.747);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.instituicao{ color: rgba(3, 0, 10, 0.747);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.contato{ border-width: 2px;
    
    color: rgba(3, 0, 10, 0.747);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.experiencia-profissional{
    
    color: rgba(3, 0, 10, 0.747);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Habilidade{
    color: rgba(3, 0, 10, 0.747);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.projeto{
    color: rgba(3, 0, 10, 0.747);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.publicacao{
    color: rgba(3, 0, 10, 0.747);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
}
.profissao{
    font-family: 'Rubik Bubbles';
    font-size: 30px;
}